@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Godo";
    font-style: normal;
    font-weight: 400;
    src: url("//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2")
        format("woff2"),
      url("//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff")
        format("woff");
  }

  @font-face {
    font-family: "Godo";
    font-style: normal;
    font-weight: 700;
    src: url("//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2")
        format("woff2"),
      url("//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff")
        format("woff");
  }
}

@layer components {
  .button-style {
    @apply w-12 md:w-16 h-12 md:h-16 rounded-lg shadow-md flex justify-center items-center;
  }
}

ul > div > div > div > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
